#title {
    background-color:blue;
    padding: 50px;
    margin:50px;
    text-align: center;
    border-color: aqua;
    border-width: 10px;
    border-style:ridge;
    color:white;
    font-size: 50px;
    font-style: italic;
}

#title:hover{

    color: yellow;
}
   
body {
     background: black !important;
    font-family: fantasy;
}


p:hover{
    color:yellow;
}
p {
   color:white;
   font-size: 30px;
   text-align: center;
   text-decoration: underline;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color:whitesmoke;
    font-size: 25px;
    text-align: center;

}

img:hover{
    opacity: 0.7;
    
}


ul{
    display: block;
    color:white;
    border-style: solid;
    text-align:center;
    font-size: 30px;
    list-style: inside;
    font-family: 'Courier New', Courier, monospace;
    
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 70%;
    padding: 10px;
    border-color: aqua;
    border-width: 10px;
    border-radius: 150px;
    border-style: solid;
    height: auto;

}




.blue-background {
    background-color:blue;
}

#img-div{
    text-align: justify;
    width: 300;
    
}
#img-caption {
    font-size: 22;
    color:yellow;
    text-decoration: none;
    
}
#quote {
    font-size: 28;
    color:yellow;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
